In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%cd drive

In [6]:
%cd MyDrive

/content/drive/MyDrive

In [8]:
import os
directory="Drug_Classification"
parent_dir=os.getcwd()
path=os.path.join(parent_dir,directory)
os.mkdir(path)

In [ ]:
%cd Drug_Classification

In [54]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn import metrics
import numpy as np

In [14]:
df=pd.read_csv('drug200.csv')

In [16]:
df

     Age Sex      BP Cholesterol  Na_to_K   Drug
0     23   F    HIGH        HIGH   25.355  drugY
1     47   M     LOW        HIGH   13.093  drugC
2     47   M     LOW        HIGH   10.114  drugC
3     28   F  NORMAL        HIGH    7.798  drugX
4     61   F     LOW        HIGH   18.043  drugY
..   ...  ..     ...         ...      ...    ...
195   56   F     LOW        HIGH   11.567  drugC
196   16   M     LOW        HIGH   12.006  drugC
197   52   M  NORMAL        HIGH    9.894  drugX
198   23   M  NORMAL      NORMAL   14.020  drugX
199   40   F     LOW      NORMAL   11.349  drugX

[200 rows x 6 columns]

In [29]:

le=preprocessing.LabelEncoder()
for c in df.columns:
  if df[c].dtype==object:
    df[c]=le.fit_transform(df[c])
  else:
    pass

In [30]:
df

     Age  Sex  BP  Cholesterol  Na_to_K  Drug
0     23    0   0            0   25.355     4
1     47    1   1            0   13.093     2
2     47    1   1            0   10.114     2
3     28    0   2            0    7.798     3
4     61    0   1            0   18.043     4
..   ...  ...  ..          ...      ...   ...
195   56    0   1            0   11.567     2
196   16    1   1            0   12.006     2
197   52    1   2            0    9.894     3
198   23    1   2            1   14.020     3
199   40    0   1            1   11.349     3

[200 rows x 6 columns]

In [31]:
X=df[['Age','Sex','BP','Cholesterol','Na_to_K']]
y=df[['Drug']]

In [ ]:
X

In [33]:
X_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

In [34]:
model=DecisionTreeClassifier()
model.fit(X_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [35]:
predictions=model.predict(x_test)

In [37]:
acc=metrics.accuracy_score(y_test,predictions)

In [ ]:
print(acc)

In [53]:
one_sample=X.iloc[0]
print(type(one_sample))

<class 'pandas.core.series.Series'>

In [61]:
# print(type(one_sample))
test_sample=np.array(one_sample)
# print(test_sample)
test_sample=np.reshape(test_sample,(1,5))
# print(test_sample)
yhat=model.predict(test_sample)
true_label=le.inverse_transform(yhat)
print(yhat,true_label)

[4] ['drugY']

In [ ]:
clf1=LogisticRegression()
clf1.fit(X_train,y_train)

In [57]:
predictions1=clf1.predict(x_test)
acc=metrics.accuracy_score(predictions1,y_test)
print(acc)

0.9

In [60]:
test_sample1=np.array(one_sample)
# print(test_sample)
test_sample1=np.reshape(test_sample1,(1,5))
# print(test_sample)
yhat1=clf1.predict(test_sample1)
true_label1=le.inverse_transform(yhat1)
print(yhat1,true_label1)

[4] ['drugY']